.App {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.App h1 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
}

.App a {
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.App a:hover {
  color: rgba(236, 232, 228, 0.885);
}

.App button {
  color: rgb(255, 255, 255);
}

.App .card {
  background: linear-gradient(
    180.3deg,
    rgba(176, 176, 176, 0.8) 5.5%,
    rgba(111, 107, 99, 0.8) 90.2%
  );
  border: 0;
  box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.4);
}

.App .navigationCity {
  font-weight: 600;
  font-size: 16px;
  margin-right: 10px;
}

.App .threeCities {
  display: flex;
  margin: 15px 0 0;
}

@media (max-width: 570px) {
  .App h1 {
    font-size: 16px;
  }

  .App .navigationCity {
    font-size: 14px;
  }
  .App .threeCities {
    justify-content: space-evenly;
  }
}

@media (max-width: 345px) {
  .App .threeCities .navigationCity {
    font-size: 13px;
    margin: 0;
  }
}
