.NextDays h1 {
  font-size: 17px;
  font-weight: 500;
  line-height: 50px;
}

.NextDays .loadingDays {
  min-height: 360px;
}

.NextDays .minimumTemperatureNextDays {
  opacity: 0.5;
}

.NextDays .forecastDay {
  text-align: left;
}

.NextDays .weatherIcon-day {
  display: block;
  margin: auto;
  width: 50px;
}

.NextDays .forecastTemperature {
  text-align: right;
}

@media (max-width: 400px) {
  .NextDays h1 {
    font-size: 15px;
  }
}

@media (max-width: 344px) {
  .NextDays h1 {
    font-size: 13px;
  }
}
