.TodayForecast {
  color: rgb(255, 255, 255);
}

.TodayForecast .today {
  text-align: center;
  min-height: 110px;
}

.TodayForecast .today .forecastTimeToday {
  padding: 0 0 5px;
}

.TodayForecast .today .weatherIcon-hour {
  width: 50px;
  text-align: center;
}

.TodayForecast .today .forecastTemperatureToday {
  padding: 5px 0 0;
}
